body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

header {
  background-color: darkolivegreen;
  box-shadow: 0 0 20px;
  padding: 10px; }
  header h1 {
    text-align: center; }
    header h1 a {
      color: white;
      text-decoration: none; }
      header h1 a:hover {
        color: white;
        text-decoration: none; }

main {
  background-color: rgba(0, 0, 0, 0.5);
  height: 750px; }
  main .container-fluid {
    height: 100%; }
    main .container-fluid .row {
      height: 100%; }
      main .container-fluid .row #gameArea {
        border: 1px solid transparent;
        height: 100%; }
        main .container-fluid .row #gameArea .board1,
        main .container-fluid .row #gameArea .board2,
        main .container-fluid .row #gameArea .board3,
        main .container-fluid .row #gameArea .board4 {
          box-shadow: 3px 3px 12px;
          width: 500px;
          height: 500px; }
          main .container-fluid .row #gameArea .board1 .box,
          main .container-fluid .row #gameArea .board2 .box,
          main .container-fluid .row #gameArea .board3 .box,
          main .container-fluid .row #gameArea .board4 .box {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            width: 25%;
            height: 25%;
            float: left;
            position: relative;
            cursor: pointer; }
            main .container-fluid .row #gameArea .board1 .box .front,
            main .container-fluid .row #gameArea .board2 .box .front,
            main .container-fluid .row #gameArea .board3 .box .front,
            main .container-fluid .row #gameArea .board4 .box .front {
              width: 100%;
              height: 100%;
              background-color: darkgoldenrod;
              transform: perspective(900px) rotateY(0);
              backface-visibility: hidden;
              transition: all .7s; }
            main .container-fluid .row #gameArea .board1 .box .back,
            main .container-fluid .row #gameArea .board2 .box .back,
            main .container-fluid .row #gameArea .board3 .box .back,
            main .container-fluid .row #gameArea .board4 .box .back {
              width: 100%;
              height: 100%;
              background-color: maroon;
              position: absolute;
              top: 0;
              right: 0;
              text-align: center;
              line-height: 150px;
              transform: perspective(900px) rotateY(180deg);
              backface-visibility: hidden;
              transition: all .7s; }
              main .container-fluid .row #gameArea .board1 .box .back i,
              main .container-fluid .row #gameArea .board2 .box .back i,
              main .container-fluid .row #gameArea .board3 .box .back i,
              main .container-fluid .row #gameArea .board4 .box .back i {
                color: white;
                font-size: 50px; }
        main .container-fluid .row #gameArea .board1 {
          margin: 125px auto; }
        main .container-fluid .row #gameArea .board2 {
          float: left;
          margin: 125px 65px; }
        main .container-fluid .row #gameArea .board3 {
          width: 650px;
          height: 650px;
          box-shadow: 5px 5px 18px;
          margin: 50px auto; }
          main .container-fluid .row #gameArea .board3 .box {
            width: 12.474%;
            height: 12.474%; }
            main .container-fluid .row #gameArea .board3 .box .back {
              line-height: 91.25px; }
              main .container-fluid .row #gameArea .board3 .box .back i {
                color: white;
                font-size: 35px; }
        main .container-fluid .row #gameArea .board4 {
          width: 350px;
          height: 350px;
          margin: 225px 20px 50px 50px;
          float: left; }
          main .container-fluid .row #gameArea .board4 .box {
            width: 24.9%;
            height: 24.9%; }
            main .container-fluid .row #gameArea .board4 .box .back {
              line-height: 105px; }
              main .container-fluid .row #gameArea .board4 .box .back i {
                color: white;
                font-size: 42px; }
      main .container-fluid .row #levelNo {
        height: 50px;
        width: 120px;
        margin: 0 auto 10px;
        background-color: maroon;
        box-shadow: 4px 4px 20px;
        font-weight: 600;
        text-align: center;
        line-height: 50px;
        position: relative; }
      main .container-fluid .row #stopwatchArea {
        height: 100%; }
        main .container-fluid .row #stopwatchArea #timeLimit,
        main .container-fluid .row #stopwatchArea #timeElapsed {
          font-weight: 700;
          font-size: 18px;
          position: absolute;
          left: 20px; }
        main .container-fluid .row #stopwatchArea #timeLimit {
          top: 13%; }
        main .container-fluid .row #stopwatchArea #timeElapsed {
          top: 60%; }
        main .container-fluid .row #stopwatchArea #stopwatchFrame {
          height: 650px;
          width: 70%;
          position: absolute;
          right: 0;
          bottom: 0;
          border: 4px solid black;
          box-shadow: 0 0 20px;
          overflow: hidden; }
          main .container-fluid .row #stopwatchArea #stopwatchFrame #stopwatch {
            background-color: darkgreen;
            width: 100%;
            height: 0px;
            position: absolute;
            top: 642px; }

/*# sourceMappingURL=master.css.map */
